.gradle
/build/
**/out
**/build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.class
/out/

0x0D 0x0A CR LF
https://youtube.com/shorts/hEwUJF-tZOE?si=vmuq_VTmygEhy5AT
https://www.youtube.com/shorts/ZfjTnqN_mWk famous endings
